
/*  清除body的margin：让body等价于canvas,因为clientx/clienty是相对于viewport，例如你在相对于canvas 20X20的地方单击，但此时clientx/clienty等于
 28X28（body默认有8px的margin），根据右边的js，画出来的圆会在相对于canvas 28x28的位置 */

ul,ol{list-style: none;}
*{margin:0;padding:0;}



.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#canvas{
  display: block;
  background: white;
  
  /* 经过测试， 若没有以下三句css，在ios上画画时屏幕跟着手指会动，在小米6的miui9则不会 */
  position: fixed;
  top: 0;
  left: 0;
}



.actions{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}
.actions svg{
  width: 1.5em;
  height: 1.5em;
  transition: all 0.3s;
  margin: 0 10px;
}
.actions svg.active{
  fill: red;
  transform: scale(1.2);
}
.colors{
  position: fixed;
  top: 60px;
  left: 28px;
}
.colors> li{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0,0,0,0.25);
  margin: 10px 0;
  transition: all 0.3s;
}
.colors> li.red{
  background: red;
}
.colors> li.green{
  background: green;
}
.colors> li.blue{
  background: blue;
}
.colors> li.active{
  box-shadow: 0 0 3px rgba(0,0,0,0.95);
  transform: scale(1.2);
}
.sizes {
  position: fixed;
   top: 180px;
  left: 28px;
}


.sizes > li {
  margin: 20px 0;
}
.sizes > .thin{
  height: 0;
  width: 20px;
  border-top: 3px solid black;
}
.sizes > .thick{
  height: 0;
  width: 20px;
  border-top: 6px solid black;
}


.sizes> .thin.active{
  
  transform: scale(1.2);
}

.sizes> .thick.active{
 
  transform: scale(1.2);
}
